<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://unpkg.com/hybind@latest/index.js"></script>

<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@0.7.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<script type="text/x-template" id="sns-new-post-template">

    <div>



        <md-button @click.native="changeType('text')">TEXT</md-button>
        <md-button @click.native="changeType('file')">FILE</md-button>
        <md-button @click.native="changeType('poll')">POLL</md-button>


        <component :is="'sns-' + posting.type + '-post'" mode="write"
                   :data="posting" ref="postingComponent"></component>

        <md-button @click.native="post">Post</md-button>

    </div>

</script>


<script type="text/x-template" id="sns-file-post-template">


    <md-card v-if="!deleted">
        <md-card-media v-if="previewUrl">
            <img :src="previewUrl" alt="People">
        </md-card-media>
        <md-spinner :md-size="150" md-indeterminate v-else></md-spinner>


        <md-card-header>
            <md-avatar class="md-large">
                <img src="https://avatars1.githubusercontent.com/u/487999?s=460&v=4" alt="People">
            </md-avatar>

            <div class="md-title"> {{data.title}} </div>
            <div class="md-subhead"> {{data.content.substring(100)}} </div>
        </md-card-header>

        <md-card-actions>
            <md-button @click.native="like">Like</md-button>
            <md-button @click.native="delete">Delete</md-button>
        </md-card-actions>

        <md-card-content>
            {{data.content}}
        </md-card-content>
    </md-card>

</script>

<script type="text/x-template" id="sns-text-post-template">
    <div>

        <div v-if="!deleted">


            <form novalidate @submit.stop.prevent="submit" v-if="mode=='write'">
                <md-input-container>
                    <label>What will you do now ?</label>
                    <md-input v-model="data.content"></md-input>
                </md-input-container>
                <md-button @click.native="save">Save</md-button>
            </form>

            <md-card v-else>

                <md-card-header>
                    <md-avatar class="md-large">
                        <img src="https://avatars1.githubusercontent.com/u/487999?s=460&v=4" alt="People">
                    </md-avatar>

                </md-card-header>

                <md-card-actions>
                    <md-button @click.native="like">Like</md-button>
                    <md-button @click.native="save" v-if="mode=='write'">Save</md-button>
                    <md-button @click.native="edit" v-else>Edit</md-button>
                </md-card-actions>

                <md-card-content>
                    {{data.content}}
                </md-card-content>
            </md-card>
        </div>
    </div>

</script>


<script type="text/x-template" id="sns-poll-post-template">

    <div>

        <div v-if="!deleted">

            <form novalidate @submit.stop.prevent="submit" v-if="mode=='write'">
                <md-input-container>
                    <label>설문 제목 </label>
                    <md-input v-model="data.title"></md-input>
                </md-input-container>

                <md-input-container v-for="(option, index) in data.content.options">
                    <label>Option {{index+1}}</label>
                    <md-input v-model="option"></md-input>
                </md-input-container>

                <md-button @click.native="addOption">+</md-button>
                <md-button @click.native="save">Save</md-button>
            </form>


            <md-card v-else>
                <md-card-header>
                    <md-avatar class="md-large">
                        <img src="https://avatars2.githubusercontent.com/u/13447690?s=64&v=4" alt="People">
                    </md-avatar>

                    <div class="md-title"> {{data.title}}</div>
                    <div class="md-subhead"> {{ data.content }} </div>
                </md-card-header>

                <md-card-actions>
                    <md-button>Like</md-button>
                    <md-button @click.native="edit">Edit</md-button>
                </md-card-actions>

                <md-card-content>
                    <md-check v-for="option in options">{{option}}</md-check>
                </md-card-content>
            </md-card>

        </div>


    </div>
</script>

<script>

    Vue.use(VueMaterial)

    Vue.component('sns-new-post', {
        template: "#sns-new-post-template",
        props: {
        },
        data:function(){
            return {
                posting: {
                    type: 'text',
                    content: '.'
                }
            };
        },
//        created: function(){
//          if(!this.posting) this.posting = {
//              type: 'text',
//              content: '----'
//          }
//        },
//        watch: {
//          posting: function(val){
//              console.log(val);
//          }
//
//        },
        methods: {

            addOption: function(){
                this.posting.content.options.push('Option')
            },

            post: function(){
                var posting = {};
                backend.$bind("posting", posting);

                /// here
                if(this.$refs["postingComponent"].beforeSave)
                    this.$refs["postingComponent"].beforeSave();

                posting.$create(this.posting);


            },

            changeType: function(type){
                this.posting.type = type;

                if(type=="poll"){

                    this.posting = {
                        type: type,
                        title: '설문1',
                        content: {
                            options: ['option1']
                        }
                    };

                }
            }
        }

    });

    Vue.component('sns-text-post', {
        template: "#sns-text-post-template",
        props: {
            data: Object,
            mode: String
        },
        data: {
          deleted: false
        },
        methods: {

            like: function(){
                alert('liked')
            },
            edit: function(){
                this.mode = 'write';
            },
            delete: function () {
                var me = this;
                this.data.$delete().then(function(){
                    me.deleted = true;
                });

                //$.ajax(this.data._link.href)
            },
            save: function () {
                var me = this;
                this.data.$save().then(function(){
                    me.mode = null;
                });
            }
        }

    });

    Vue.component('sns-file-post', {
        template: "#sns-file-post-template",
        props: {
            data: Object,
            mode: String
        },
        data: {
            deleted: false
        },
        methods: {

            like: function(){
                alert('liked')
            },
            delete: function () {
                var me = this;
                this.data.$delete().then(function(){
                    me.deleted = true;
                });

                //$.ajax(this.data._link.href)
            }
        }

    });

    Vue.component('sns-poll-post', {
        template: "#sns-poll-post-template",
        props: {
            data: Object,
            mode: String
        },
        data: {
            deleted: false
        },
        methods: {

            like: function(){
                alert('liked')
            },
            delete: function () {
                var me = this;
                this.data.$delete().then(function(){
                    me.deleted = true;
                });

                //$.ajax(this.data._link.href)
            },
            beforeSave: function(){
                var contentInJson = JSON.stringify(this.data.content);

                this.data.content = contentInJson;
            }
        }

    });

</script>



<div id="app">

    <md-avatar class="md-avatar-icon">
        <img src="https://avatars1.githubusercontent.com/u/487999?s=460&v=4" alt="People">
    </md-avatar>

    <sns-new-post :file-content="{}" micro-blog-content="" :options="['Option']"></sns-new-post>


    <md-spinner :md-size="150" md-indeterminate v-if="posts==null"></md-spinner>

    <component v-if="posts!=null" v-for="post in posts" :is="'sns-' + post.type + '-post'"
               :data="post"

    ></component>


</div>



<script>

    var backend = hybind("http://localhost:8080");


    var app = new Vue({
        el: '#app',
        data:{
            posts: null,
        },

        created: function () {

            var self = this;
            var posts = [];

            backend.$bind("posting", posts);

            posts.$load().then(function(posts){
                self.posts = posts;
            });

        }
    })




</script>