<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@0.7.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/x-template" id="sns-new-post-template">

    <div>


        <md-tabs>
            <md-tab id="micro-blog" md-label="Text">
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <label>What will you do now ?</label>
                        <md-input v-model="microBlogContent"></md-input>
                    </md-input-container>
                </form>

            </md-tab>
            <md-tab id="file" md-label="File">
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <label>Choose file</label>
                        <md-file v-model="fileContent"></md-file>
                    </md-input-container>
                </form>

            </md-tab>
            <md-tab id="poll" md-label="Poll">
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container v-for="(option, index) in options">
                        <label>Option {{index+1}}</label>
                        <md-input v-model="option"></md-input>
                    </md-input-container>

                    <md-button @click.native="addOption">+</md-button>
                </form>

            </md-tab>
        </md-tabs>

        <md-button>Post</md-button>

    </div>

</script>


<script type="text/x-template" id="sns-file-post-template">


    <md-card>
        <md-card-media>
            <img :src="previewUrl" alt="People">
        </md-card-media>

        <md-card-header>
            <md-avatar class="md-large">
                <img src="https://avatars1.githubusercontent.com/u/487999?s=460&v=4" alt="People">
            </md-avatar>

            <div class="md-title"> {{title}} </div>
            <div class="md-subhead"> {{}} </div>
        </md-card-header>

        <md-card-actions>
            <md-button @click.native="like">Like</md-button>
            <md-button @click.native="share">Share</md-button>
        </md-card-actions>

        <md-card-content>
            {{content}}
        </md-card-content>
    </md-card>

</script>


<script type="text/x-template" id="sns-poll-post-template">

    <md-card>
        <md-card-header>
            <md-avatar class="md-large">
                <img src="https://avatars2.githubusercontent.com/u/13447690?s=64&v=4" alt="People">
            </md-avatar>

            <div class="md-title"> {{title}}</div>
            <div class="md-subhead"> {{ content }} </div>
        </md-card-header>

        <md-card-actions>
            <md-button>Like</md-button>
            <md-button>Share</md-button>
        </md-card-actions>

        <md-card-content>
            <md-check v-for="option in options">{{option}}</md-check>
        </md-card-content>
    </md-card>
</script>

<script>

    Vue.use(VueMaterial)

    Vue.component('sns-new-post', {
        template: "#sns-new-post-template",
        props: {
            microBlogContent: String,
            fileContent: Object,
            options: Array,
            option: String
        },
        data:{

        },
        methods: {

            addOption: function(){
                this.options.push('Option')
            }
        }

    });

    Vue.component('sns-file-post', {
        template: "#sns-file-post-template",
        props: {
            previewUrl: String,
            title: String,
            content: String,
        },
        data:{

        },
        methods: {

            like: function(){
                alert('liked')
            },
            share: function () {
                alert('share!')
            }
        }

    });

    Vue.component('sns-poll-post', {
        template: "#sns-poll-post-template",
        props: {
            title: String,
            content: String,
            options: Array
        },
        data:{

        },
        methods: {

            like: function(){
                alert('liked')
            },
            share: function () {
                alert('share!')
            }
        }

    });

</script>



<div id="app">

    <md-avatar class="md-avatar-icon">
        <img src="https://avatars1.githubusercontent.com/u/487999?s=460&v=4" alt="People">
    </md-avatar>

    <sns-new-post :file-content="{}" micro-blog-content="" :options="['Option']"></sns-new-post>



    <sns-poll-post
        title="Today's dinner?"
        content="Please select dinner among these:"
        :options="['Coffee','Pizza','Cake']"

    ></sns-poll-post>



    <md-spinner :md-size="150" md-indeterminate v-if="!loaded"></md-spinner>
    <sns-file-post v-if="loaded"
        preview-url = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR865IiwFPWIGmdR1bOsPsQEPHdZgZRn989iZ6FVrdgD_g3aABN"
        title = "Autumn leaves!"
        content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint."

    ></sns-file-post>
</div>



<script>
    var app = new Vue({
        el: '#app',
        data:{

            loaded: false
        },
    })


    setTimeout(function (){app.loaded = true}, 5000);


</script>